.my_title{
    width:100%;
    flex:1;
    background-color:white;
    /*display:flex;*/
    overflow:scroll;
}
::-webkit-scrollbar{
    display:none;
}
#my_title{
    width:100%;
    flex:1;
    display:flex;
    background-color:#f5f5f5;
    flex-flow:column;
}
#my_title1{
    width:100%;
    height:200px;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}
#my_title11{
    width:97%;
    height:160px;
    box-shadow:-1px 8px 6px #ededed;
    border:1px solid #f5f5f5;
    display:flex;
    flex-flow:column;
}
#my_title111{
    width:100%;
    height:60px;
    display:flex;
 }
#my_title1111{
    width:80px;
    height:50px;
    font-size:20px;
    font-weight:800;
    line-height:40px;
}
#my_title1112{
    flex:1;
    background-image:url(../img/二维码.png);
    background-repeat:no-repeat;
    background-position:-4px 7px;
}#my_title1113{
    width:45px;
    height:45px;
    text-align:center;
    background-color:#348ef5;
    color:white;
    line-height:44px;
    border-radius:50%;
    margin-right:14px;
    margin-top:4px;
 }
#my_title112{
    width:100%;
    height:60px;

}
#my_title1121{
    width:100%;
    height:40px;
    font-size:18px;
    line-height:40px;
    display:flex;
}
#my_title1122{
    height:20px;
    width:100%;
    font-size:12px;
    color:gray;
}
#my_title113{
    width:100%;
    height:40px;
    line-height:40px;
    font-size:16px;
}
#my_title2{
    width:100%;
    height:160px;
    margin-top:8px;
    background-color:white;
    /*display:flex;*/
    /*flex-flow:column;*/
}
#my_title21{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title211{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/113.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:32px;
    background-color: #23b786;
}
#my_title212{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title213{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title22{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title221{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/114.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:27px;
    background-color: #348ef5;
}
#my_title222{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title223{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title23{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title231{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/115.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:39px;
    background-color: #348ef5;
}
#my_title232{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title233{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title24{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title241{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/116.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:32px;
    background-color: #fa923b;
}
#my_title242{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title243{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title3{
    width:100%;
    height:120px;
    margin-top:8px;
    background-color:white;
}
#my_title31{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title311{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/120.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:29px;
    background-color: red;
}
#my_title312{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title313{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title32{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title321{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/收藏.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:26px;
    background-color: #fa923b;
}
#my_title322{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title323{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title33{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title331{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/119.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:27px;
    background-color: #23b786;
}
#my_title332{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#my_title333{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title4{
    width:100%;
    height:40px;
    margin-top:8px;
    background-color:white;
}
#my_title43{
    height:40px;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
}
#my_title431{
    width:38px;
    height:38px;
    margin-left:6px;
    background-image:url(../img/设置.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:26px;
    background-color: #5a6ca0;
}
#my_title432{
    flex:1;
    height:38px;
    color:black;
    line-height:40px;
}
#people{
    width:60px;
    height:38px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#people1{
    width:50px;
    height:16px;
    color:white;
    text-align:center;
    line-height:16px;
    font-size:8px;
    background-color:red;
    border-radius:25px;

}
#my_title433{
    width:30px;
    height:38px;
    margin-right:10px;
    color: gray;
    text-align:center;
    line-height:40px;
}
#my_title5{
    width:100%;
    height:40px;
    margin-top:8px;

    font-size:13px;
    color:#348ef5;
    text-align:center;
}
